.nav-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 21.5%;
}

.nav-frog-logo{
  height: 70px;
  width: 70px;
  margin-left: 3%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-image: url('/whitefroggy.png');
  border-radius: 50%;
  background-position: center;
}


.nav-frog-logo:hover{
 background-color: rgb(29, 47, 66)
}
.nav-home-logo-wrapper{
  width: 50%;
  margin-left: 2%;
  border-radius: 1000px;
  padding: 8px;
  margin-top: 4%;
  text-decoration: none;
}
.nav-home-logo-wrapper:hover{
   background-color: rgb(29, 47, 66)
}
.nav-home-logo{
  display: flex;
  font-size: 35px;
  margin-left: 5%;
}
.home-text{
  font-size: 25px;
  padding-top: 8px;
  padding-left: 10px;
  color: white;
}

.nav-home-text{
    font-weight: 900;
    color: white;
}

.tweet-button{
    color: white;
    font-weight: bold;
    background-color: rgb(29, 161, 242);
    border: none;
    border-radius: 20px;
    width: 70%;
    height: 40px;
    margin-top: 30px;
    margin-left: 12px;
    cursor: pointer;
}

.create-post-modal{
  z-index: 10;
}