.nav-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 21.5%;
}
.nav-frog-logo{
  height: 70px;
  width: 70px;
  margin-left: 3%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-image: url('/whitefroggy.png');
  border-radius: 50%;
  background-position: center;
  transition: 0.2s;
}
.nav-frog-logo:hover{
 background-color: rgb(29, 47, 66);
  background-image: url('/froggy.png');
 cursor: pointer;
 transition: 0.2s;
}
.nav-home-logo-wrapper{
  width: 50%;
  margin-left: 2%;
  border-radius: 1000px;
  padding: 8px;
  margin-top: 4%;
  text-decoration: none;
}
.nav-home-logo-wrapper:hover{
   background-color: rgb(29, 47, 66);
   cursor: pointer;
   color: rgb(29, 161, 242); 
}
.nav-home-logo{
  display: flex;
  font-size: 35px;
  margin-left: 5%;
}
.home-text{
  font-size: 25px;
  padding-top: 8px;
  padding-left: 10px;
  color: white;
}
.nav-home-logo-wrapper:hover .nav-home-text, .nav-home-logo-wrapper:hover .home-text{
  color: rgb(29, 161, 242); 
}
.nav-home-text{
    font-weight: 900;
    color: white;
}
.tweet-button{
    color: white;
    font-weight: bold;
    background-color: rgb(29, 161, 242);
    border: none;
    border-radius: 20px;
    width: 70%;
    height: 40px;
    margin-top: 30px;
    margin-left: 12px;
    cursor: pointer;
}
.tweet-button:hover{
    background-color: rgb(26, 145, 218);
}
.edit-profile-button{
  color: white;
  display: flex;
  width: 50%;
    margin-left: 2%;
    border-radius: 1000px;
    padding: 8px;
    margin-top: 7%;
    text-decoration: none;
}
.edit-profile-button:hover{
      background-color: rgb(29, 47, 66);
      cursor: pointer;
}
.edit-profile-button:hover .nav-edit-logo, .edit-profile-button:hover .edit-profile-text {
    background-color: rgb(29, 47, 66);
    cursor: pointer;
     color: rgb(29, 161, 242); 
}
.nav-edit-logo{
  color: white;
  font-size: 35px;
  padding-left: 11px;
}
.edit-profile-text{
    font-size: 25px;
    padding-top: 8px;
    padding-left: 11px;
    color: white;
}
.image-profile-button-wrapper{

    border-radius: 1000 px;
    border-radius: 1000px;
    color: white;
    display: flex;
    width: 50%;
    margin-left: 2%;
    border-radius: 1000px;
    padding: 8px;
    padding-left: 14px;
    margin-top: 7%;
    text-decoration: none;
}
.nav-image{
      width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    vertical-align: middle;
}
.profile-text{
    font-size: 25px;
    padding-top: 8px;
    padding-left: 11px;
    color: white;
}
.image-profile-button-wrapper:hover{
    background-color: rgb(29, 47, 66);
    cursor: pointer;
}
.image-profile-button-wrapper:hover .profile-text{
  background-color: rgb(29, 47, 66);
  cursor: pointer;
  color: rgb(29, 161, 242); 
}
.logout-button{
    display: flex;
    width: 53%;
    margin-left: 2%;
    border-radius: 1000px;
    padding: 8px;
    margin-top: 7%;
    text-decoration: none;
}

.fa-sign-in-alt{
  color: white;
  font-size: 35px;
  padding-left: 11px
}
.logout-button-text{
  font-size: 25px;
  padding-top: 8px;
  padding-left: 11px;
  color: white;
}

.logout-button:hover {
  background-color: rgb(29, 47, 66);
}

/* .logout-button:hover .fa-sign-in-alt, .logout-button:hover .logout-button-text{
  background-color: rgb(29, 47, 66);
  cursor: pointer;
  color: rgb(29, 161, 242);
}

.logout-button {
  color: white;
  font-weight: bold;
  background-color: rgb(29, 161, 242);
  border: none;
  border-radius: 20px;
  width: 70%;
  height: 40px;
  cursor: pointer;
  margin: 12px; 
}

.logout-button:hover {
  background-color: rgb(26, 145, 218);
} */

