.session-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color:rgb(21, 32, 43);
  width: 600px;
  max-height: 600px;
  height: 90vh;
  overflow-y: scroll;
  border-radius: 15px;
}

.session-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  height: 480px;
}

.session-bitter-frog {
  display: inline-block;
  border-radius: 50%;
  margin-top: 15px;
  width: 30px;
  height: 30px;
}

.session-title {
  color: white;
  margin: 30px 0 20px;
  width: 90%;
  text-align: start;
  font-weight: bold;
  font-size: 24px;
}

.session-field {
  width: 90%;
  height: 60px;
  margin: 15px 0;
  background-color: rgb(25, 39, 52);
  display: flex;
  flex-direction: column-reverse;
  border-radius: 3px;
  overflow: hidden;
}

.session-label {
  margin-top: 10px;
  margin-left: 10px;
}

.session-input:focus + .session-label {
  color: rgb(27, 149, 224);
}

.session-input {
  font-weight: bold;
  color: white;
  padding-left: 10px;
  width: 100%;
  height: 30px;
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid rgb(136, 153, 166);
}

.session-input:focus {
  border-bottom: 2px solid rgb(27, 149, 224);
}

.session-submit {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  background-color: rgb(27, 149, 224);
  border: none;
  border-radius: 20px;
  width: 90%;
  height: 40px;
}