.edit-profile-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-profile-form {
  position: absolute;
  z-index: 10;
  background-color:rgb(21, 32, 43);
  width: 600px;
  max-height: 600px;
  height: 90vh;
  overflow-y: scroll;
  border-radius: 15px;
}

.edit-profile-form::-webkit-scrollbar {
  display: none;
}


.edit-profile-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgb(56, 68, 77);
}

.edit-profile-title {
  font-weight: bold;
  color: white;
  width: 470px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  margin-left: 20px;
}

.edit-profile-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: rgb(29, 161, 242);
  border: none;
  border-radius: 20px;
  width: 70px;
  height: 25px;
  cursor: pointer;
}

.edit-profile-submit:hover {
  background-color: rgb(26, 145, 218);
}

.edit-cover-image-default {
  background-color: rgb(113, 201, 248);
}

.edit-cover-picture-container {
  width: 600px;
  height: 250px;
}

.edit-cover-picture {
  width: 594px;
  height: 250px;
  border-left: 3px solid rgb(21, 32, 43);
  border-right: 3px solid rgb(21, 32, 43);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.edit-cover-picture-label {
  position: relative;
  bottom: 250px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 250px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.edit-profile-picture-container {
  position: relative;
  bottom: 40px;
  right: 220px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid rgb(21, 32, 43);
  margin-bottom: -40px;
}

.edit-profile-picture {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: rgb(113, 201, 248);
}

.edit-profile-picture-label {
  position: relative;
  bottom: 100px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.edit-profile-camera {
  color: white;
  font-size: 20px;
}

.edit-field {
  width: 90%;
  height: 60px;
  margin: 15px 0;
  background-color: rgb(25, 39, 52);
  display: flex;
  flex-direction: column-reverse;
  border-radius: 3px;
  overflow: hidden;
}

.edit-label {
  margin-top: 10px;
  margin-left: 10px;
}

.edit-input:focus + .edit-label {
  color: rgb(27, 149, 224);
}

.edit-input {
  font-weight: bold;
  color: white;
  padding-left: 10px;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(136, 153, 166);
  margin-right: 10px;
}

.textarea {
  resize: none;
  height: 100px;
}

.edit-input:focus {
  border-bottom: 2px solid rgb(27, 149, 224);
}