.session-bitter-frog {
  background-image: url('/whitefroggy.png');
  background-position: center;
  background-size: cover;
}

.left-splash-bitter-frog {
  background-image: url('/bigfroggy.png');
  background-repeat: no-repeat;
  background-size: 150%;
}

.default-profile-picture {
  background-image: url('/light_blue_back_guy.png');
  background-position: center;
  background-size: cover;
}

.profile-bitter-frog {
    background-image: url('/froggy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}