.profile-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  min-width: 600px;
  border: 1px solid rgb(56, 68, 77);
  border-top: none;
}

.profile-title {
  display: flex; 
  justify-content: space-between;
  padding-top: 15px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.search-title {
  margin-top: 10px; 
}

.hashtag-header {
  position: fixed;
  width: 600px;
  background-color: rgb(21, 32, 43);
  z-index: 1;
  border-bottom: 10px solid rgb(56, 68, 77);
  padding-bottom: 15px;
}