.trends-for-you-container{
  position: relative;
  left: 10%;
  width: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  background-color: rgb(25, 45, 60);
  overflow: hidden;
}

.trends-for-you-title{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 12px;
}

.top-hash-tags{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.top-tag-link{
  text-decoration: none;                             
  color: white;
  border-top: 1px solid rgb(50, 62, 69);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: .2s;
}

.top-tag-link:hover{
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.top-users-container{
  position: absolute;
}
.top-users-wrapper{
  display: flex;
  border-top: 1px solid rgb(50, 62, 69);
  height: 75px;
  transition: .2s;
}
.top-users-link{
  text-decoration: none;
}
.top-users-wrapper:hover{
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.top-users-username-link{
  color: white;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
}
.user-full-name{
  color: white;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}
.top-user-username{
  font-weight: lighter;
  font-weight: lighter;
  padding-top: 10px;
  font-size: 15px;
  padding-left: 3px;
}