.splash-main {
  display: flex;
  height: 100vh;
  width: 100vw;
  min-width: 800px;
}

.splash-left {
  display: flex;
  background-color: rgb(113, 201, 248);
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-left-text i {
  color: white;
  margin-right: 20px;
}

.splash-left-text {
  margin: 40px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.splash-right {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-bitter-frog {
  display: inline-block;
  border-radius: 50%;
  margin-top: 15px;
  width: 50px;
  height: 50px;
}

.splash-right-header {
  width: 370px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

.splash-right-text {
  margin-top: 50px;
  width: 350px;
  text-align: left;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.splash-button {
  position: relative;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  background-color: rgb(29, 161, 242);
  border: none;
  border-radius: 20px;
  width: 345px;
  min-height: 40px;
  cursor: pointer;
}

.sign-up:hover {
  background-color: rgb(26, 145, 218);
}

.log-in {
  color: rgb(27, 149, 224);
  background-color: transparent;
  border: 1px solid rgb(27, 149, 224);
}

.log-in:hover {
  background-color: rgb(29, 161, 242, 0.1);
}