.search-bar {
  position: relative;
  top: 20px;
  z-index: 1; 
}

.search-results {
  display: none;
  position: absolute;
  left: 30px;
  width: 300px; 
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
  border-radius: 5px;
  border: 1px solid rgb(56, 68, 77); 
  overflow: hidden;
  overflow-y: scroll;
  max-height: 80vh;
}

.search-input {
  z-index: 0; 
  width: 200px; 
  margin-left: 10%;
  padding: 8px 50px; 
  border: 1px solid transparent; 
  border-radius: 20px; 
  background-color: rgb(25, 43, 58); 
  color: gray; 
}

.search-glass {
  margin-left: 10%;
  position: absolute; 
  color: gray;
  font-size: 18px; 
  z-index: 2; 
  left: 18px; 
  top: 10px; 
}

.search-input:focus {
  transition: .15s ease; 
  border-color: rgb(29, 161, 242); 
  background-color: rgb(21, 32, 43);
  color: white;
}

.search-input:focus ~ .search-glass {
  color: rgb(29, 161, 242);
}

.search-input:focus.search-input::placeholder {
  color: white;
}

.search-input:focus + .search-results, .search-results:active {
  display: flex;
  flex-direction: column;
}

.tag-search-list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgb(21, 32, 43); 
  margin-top: 4px; 
  width: 382px; 
  padding: 8px 0px 0px 0px; 
  border-bottom: 8px solid rgb(56, 68, 77); 
  z-index: 20; 
  min-height: fit-content;
}

.search-hashtag {
  padding: 18px 12px; 
  color: white;
  font-size: 16px;
}

.user-search-list {
  min-height: fit-content;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgb(21, 32, 43); 
  width: 382px; 
  padding: 8px 0px 0px 0px; 
  border: 1px solid rgb(25, 43, 58); 
  z-index: 20;
}

.search-item {
  border-bottom: 1px solid rgb(56, 68, 77); 
}

.search-item:hover {
  transition: .2s;
  background-color: rgb(25, 39, 52);
}

.search-user {
  width: 382px; 
  padding: 10px;  
  padding-left: 12px; 
  display: flex; 
  text-decoration: none!; 
}

.search-info {
  display: flex; 
  flex-direction: column; 
  font-size: 14px;
  justify-content: space-around;   
  text-decoration: none; 
}

.search-link {
  text-decoration: none;
}

.search-username {
  color: white;
  font-weight: bold;
}

.user-search-pic {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px; 
}