.search-bar {
  position: relative;
  z-index: 1; 
}

.search-input {
  z-index: 0; 
  position: relative; 
  width: 280px; 
  padding: 8px 50px; 
  border: 1px solid transparent; 
  border-radius: 20px; 
  background-color: rgb(33, 58, 78); 
  color: gray; 
}

.search-glass {
  position: absolute; 
  color: gray;
  font-size: 18px; 
  z-index: 2; 
  left: 18px; 
  top: 9px; 
}

.search-results {
  display: none;
  position: absolute;
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
  border-radius: 5px;
  border: 1px solid rgb(56, 68, 77); 
  overflow: hidden;
}

.search-input:focus {
  transition: .15s ease; 
  border-color: lightblue; 
  background-color: rgb(21, 32, 43);
}

.search-input:focus + .search-results, .search-results:active {
  display: flex;
  flex-direction: column;
}

.tag-search-list {
  background: rgb(21, 32, 43); 
  margin-top: 4px; 
  width: 350px;
  border-bottom: 8px solid rgb(56, 68, 77); 
  overflow: hidden;
  z-index: 20; 
  text-align: center;
}

.user-search-list {
  background: rgb(21, 32, 43); 
  width: 350px;
  overflow: hidden;
  z-index: 20;
  text-align: center;
}

.search-item {
  transition: .2s;
  color: white;
  text-align: center;
  padding: 10px 60px;
  border-bottom: 1px solid rgb(56, 68, 77); 
}

.search-item:hover {
  transition: .2s;
  background-color: rgb(25, 39, 52);
}